<form
	[formGroup]="form" 
	novalidate 
	(ngSubmit)="register(form)"
>	
	<!--fields-->
	<div fxLayout="column" fxLayoutGap="5px">
		<!--name-->
		<div>
			<input
				formControlName="name"
				pInputText
				appInput
				type="text"
				placeholder="{{ 'Name' | translate }}"
			>
		</div>
		<!--password-->
		<div>
			<p-password 
				placeholder="{{ 'Password' | translate }}" 
				formControlName="password"
				[toggleMask]="true"
				promptLabel="{{ 'EnterPassword' | translate }}"
				weakLabel="{{ 'Weak' | translate }}"
				mediumLabel="{{ 'Medium' | translate }}"
				strongLabel="{{ 'Strong' | translate }}"
			></p-password>
		</div>
		<!--confirm password-->
		<div>
			<p-password 
				placeholder="{{ 'ConfirmPassword' | translate }}" 
				formControlName="confirmPassword" 
				[toggleMask]="true"
				promptLabel="{{ 'EnterPassword' | translate }}"
				weakLabel="{{ 'Weak' | translate }}"
				mediumLabel="{{ 'Medium' | translate }}"
				strongLabel="{{ 'Strong' | translate }}"
			>
			</p-password>
		</div>
		<!--phone-->
		<div>
			<div class="input-group" fxLayout="row">
				<div fxFlex>
					<p-inputMask mask="999-999-99-99" placeholder="{{ 'Phone' | translate }}" formControlName="phone"></p-inputMask> 
				</div>
				<div>
					<button 
						appButton
						type="button" 
						pButton 
						pRipple 
						icon="pi pi-send" 
						styleClass="p-button-warn"
						(clickBtn)="sendCode(form.value.phone)"
						pTooltip="{{ 'SendVerificationCode' | translate}}" 
						tooltipPosition="top"
					>
					</button>  
				</div>
			</div>
		</div>
		<!--code-->
		<div>
			<input
				formControlName="code"
				pInputText
				appInput
				type="text"
				placeholder="{{ 'Code' | translate }}"
			>
		</div>
	</div>
	<!--navigation-->
	<div class="navigation">
		<app-register-account-navigation></app-register-account-navigation>
	</div>
	<!--control-->
	<div class="control">
		<button
			pButton
			appButton
			[disabled]="form.invalid"
			label="{{'Create' | translate}}"
		></button>
	</div>
</form>
