.p-treetable{
  margin: 0 0 2px 0;
  .p-treetable-header{
    padding: 5px 0;
    input,
    button{
      width: 100%;
    }
  }
  .p-treetable-wrapper{
    border: $border;
    border-radius: $borderRadius;
    overflow: hidden;
    .p-treetable-thead{
      border: $border;
      > tr{
        > th {
          background-color:#e0e0e0;
          padding: 12px 12px 9px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.23;
          letter-spacing: normal;
          text-align: left;
          color: #666666;
          outline: 0;
          border-bottom: 3px solid #e0e0e0;
          box-sizing: border-box;
          &.p-highlight{
            color: $mainColorNormal;
            border-color:  $mainColorNormal;
          }
          .p-sortable-column-icon{
            font-size: .625rem;
            position: relative;
            top: -2px;
            i{
              font-weight: 900;
            }
          }
        }
      }
    }
    .p-treetable-tbody{
      tr{
        &:nth-child(even){
          background-color: #f6f6f6;
        }
        &:focus{
          outline: 0;
          background-color:  $mainBoxShadowColor;
        }
      }
    }
    tr{
      th,
      td{
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: normal;
        color: #231f20;
        padding: 12px;
        .p-treetable-toggler{
          outline: 0;
          position: relative;
          top: -1px;
          padding: 0;
          font-size: .625rem;
          background: none;
          color:#666666;
          border: none;
          box-shadow: none;
          &.p-button-rounded{
            &.p-button-icon-only{
              width: auto;
              height: auto;
              &:hover{
                background-color: transparent;
              }
            }
          }
          .p-button-icon-left{
            margin: 0;
          }
        }
      }
    }
  }
}
