
$border                       : 1px solid #D3D3D3;
$borderRadius                 : 3px;


$disabledColor                :#e0e0e0;
$disabledBackgroundColor      :#bfc0c2;
$disabledBorderColor          :#bfc0c2;

$mainColorNormal              :rgba(0, 0, 0, .7);
$mainColorDark                :rgba(0, 0, 0, .8);
$mainColorVeryDark            :rgba(0, 0, 0, 0);
$mainBoxShadowColor           :rgba(0, 0, 0, .2);

$secondaryColorNormal         :#607D8B;
$secondaryColorDark           :#54647a;
$secondaryColorVeryDark       :#455a64;
$secondaryBoxShadowColor      :#d2dbdf;

$successColorNormal           :#34a835;
$successColorDark             :#107d11;
$successColorVeryDark         :#0c6b0d;
$successBoxShadowColor        :#c6e7c6;

$infoColorNormal              :#0288D1;
$infoColorDark                :#28749d;
$infoColorVeryDark            :#015988;
$infoBoxShadowColor           :#b8d1de;

$warningColorNormal           :#ffba01;
$warningColorDark             :#ed990b;
$warningColorVeryDark         :#d38b10;
$warningBoxShadowColor        :#f3dfbc;

$helpColorNormal              :#9C27B0;
$helpColorDark                :#8e24aa;
$helpColorVeryDark            :#7b1fa2;
$helpBoxShadowColor           :#e3c3e9;

$dangerColorNormal            :#e91224;
$dangerColorDark              :#c01120;
$dangerColorVeryDark          :#a90000;
$dangerBoxShadowColor         :#f9bdc2;
