.p-menubar {
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  .p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #495057;
    border-radius: 0;
    transition: box-shadow 0.2s;
    user-select: none;
    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: inset 0 0 0 0.15rem #a6d5fa;
    }
    &:not(.p-disabled):hover {
      background: #e9ecef;
      .p-menuitem-text {
        color: #495057;
      }
      .p-menuitem-icon {
        color: #6c757d;
      }
      .p-submenu-icon {
        color: #6c757d;
      }
    }
    .p-menuitem-text {
      color: #495057;
    }
    .p-menuitem-icon {
      color: #6c757d;
      margin-right: 0.5rem;
    }
    .p-submenu-icon {
      color: #6c757d;
    }
  }
  .p-menubar-root-list {
    > .p-menuitem {
      >.p-menuitem-link {
        padding: 0.75rem 1rem;
        color: #495057;
        border-radius: 3px;
        transition: box-shadow 0.2s;
        user-select: none;
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: inset 0 0 0 0.15rem #a6d5fa;
        }
        &:not(.p-disabled):hover {
          background: #e9ecef;
          .p-menuitem-text {
            color: #495057;
          }
          .p-menuitem-icon {
            color: #6c757d;
          }
          .p-submenu-icon {
            color: #6c757d;
          }
        }
        .p-menuitem-text {
          color: #495057;
        }
        .p-menuitem-icon {
          color: #6c757d;
          margin-right: 0.5rem;
        }
        .p-submenu-icon {
          color: #6c757d;
          margin-left: 0.5rem;
        }
      }
      &.p-menuitem-active{
        .p-menuitem-link{
          &:not(.p-disabled):hover{
            background: #e9ecef;
            .p-menuitem-text {
              color: #495057;
            }
            .p-menuitem-icon,
            .p-submenu-icon  {
              color: #6c757d;
            }
          }
          .p-menuitem-text{
            color: #495057;
          }
          .p-menuitem-icon,
          .p-submenu-icon{
            color: #6c757d;
          }
        }
      }
    }
  }
  .p-submenu-list {
    padding: 0.25rem 0;
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    width: 12.5rem;
    .p-menu-separator {
      border-top: 1px solid #dee2e6;
      margin: 0.25rem 0;
    }
    .p-submenu-icon {
      font-size: 0.875rem;
    }
  }
  .p-menuitem {
    &.p-menuitem-active {
      > .p-menuitem-link {
        background: #e9ecef;
        .p-menuitem-text {
          color: #495057;
        }
        .p-menuitem-icon,
        .p-submenu-icon {
          color: #6c757d;
        }
      }
    }
  }
}


@media screen and (max-width: 960px) {
  .p-menubar {
    position: relative;
    .p-menubar-button {
      display: flex;
      width: 2rem;
      height: 2rem;
      color: #6c757d;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
      &:hover {
        color: #6c757d;
        background: #e9ecef;
      }
      &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #a6d5fa;
      }
    }
    .p-menubar-root-list {
      position: absolute;
      display: none;
      padding: 0.25rem 0;
      background: #ffffff;
      border: 0 none;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      width: 100%;
      > .p-menuitem {
        width: 100%;
        position: static;
        &.p-menuitem-active {
          > .p-menuitem-link {
            > .p-submenu-icon {
              transform: rotate(-180deg);
            }
          }
        }
        > .p-menuitem-link {
          padding: 0.75rem 1rem;
          color: #495057;
          border-radius: 0;
          transition: box-shadow 0.2s;
          user-select: none;
          &:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: inset 0 0 0 0.15rem #a6d5fa;
          }
          &:not(.p-disabled):hover {
            background: #e9ecef;
            .p-menuitem-text {
              color: #495057;
            }
            .p-menuitem-icon,
            .p-submenu-icon {
              color: #6c757d;
            }
          }
          > .p-submenu-icon {
            margin-left: auto;
            transition: transform 0.2s;
          }
          .p-menuitem-text {
            color: #495057;
          }
          .p-menuitem-icon {
            color: #6c757d;
            margin-right: 0.5rem;
          }
          .p-submenu-icon {
            color: #6c757d;
          }
        }
      }
      .p-menu-separator {
        border-top: 1px solid #dee2e6;
        margin: 0.25rem 0;
      }
      .p-submenu-icon {
        font-size: 0.875rem;
      }
      .p-submenu-list {
        width: 100%;
        position: static;
        box-shadow: none;
        border: 0 none;
        .p-submenu-icon {
          transition: transform 0.2s;
          transform: rotate(90deg);
        }
        .p-menuitem-active {
          > .p-menuitem-link {
            > .p-submenu-icon {
              transform: rotate(-90deg);
            }
          }
        }
      }
      .p-menuitem {
        width: 100%;
        position: static;
      }
      ul {
        li {
          a {
            padding-left: 2.25rem;
          }
          ul {
            li {
              a {
                padding-left: 3.75rem;
              }
              ul {
                li {
                  a {
                    padding-left: 5.25rem;
                  }
                  ul {
                    li {
                      a {
                        padding-left: 6.75rem;
                      }
                      ul {
                        li {
                          a {
                            padding-left: 8.25rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.p-menubar-mobile-active{
      .p-menubar-root-list {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        z-index: 1;
      }
    }
  }
}