.p-tieredmenu {
  padding: 0.25rem 0;
  background: #ffffff;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  width: 12.5rem;
  .p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #495057;
    border-radius: 0;
    transition: box-shadow 0.2s;
    user-select: none;
    .p-menuitem-text {
      color: #495057;
    }
    .p-menuitem-icon {
      color: #6c757d;
      margin-right: 0.5rem;
    }
    .p-submenu-icon {
      color: #6c757d;
    }
    &:not(.p-disabled){
      &:hover {
        background: #e9ecef;
      }
      .p-menuitem-text {
        color: #495057;
      }
      .p-menuitem-icon {
        color: #6c757d;
      }
      .p-submenu-icon {
        color: #6c757d;
      }
    }
    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: inset 0 0 0 0.15rem #a6d5fa;
    }
  }
  &.p-tieredmenu-overlay {
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .p-submenu-list {
    padding: 0.25rem 0;
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .p-menuitem{
    &.p-menuitem-active{
      > .p-menuitem-link {
        background: #e9ecef;
        .p-menuitem-text {
          color: #495057;
        }
        .p-menuitem-icon,
        .p-submenu-icon {
          color: #6c757d;
        }
      }
    }
  }
  .p-menu-separator {
    border-top: 1px solid #dee2e6;
    margin: 0.25rem 0;
  }
  .p-submenu-icon {
    font-size: 0.875rem;
  }
}