<form 
	[formGroup]="form" 
	novalidate 
	(ngSubmit)="auth(form)"
>
	<div>
		<!--fileds-->
		<div fxLayout="column" fxLayoutGap="5px" >
			<div>
				<input
					formControlName="login"
					pInputText
					appInput
					type="text"
					placeholder="{{ 'LoginOrPhone' | translate }}"
				>
			</div>
			<!--password-->
			<div>
				<p-password 
					formControlName="password"
					placeholder="{{ 'Password' | translate }}"
					[toggleMask]="true"
					[feedback]="false"
				></p-password>
			</div>
		</div>
		<!--nav-->
		<div class="navigation">
			<app-log-in-navigation></app-log-in-navigation>
		</div>
		<!--control-->
		<div>
			<button
				pButton
				appButton
				[disabled]="form.invalid"
				label="{{'Login' | translate}}"
			></button>
		</div>
	</div>
</form>


