p-inputmask.ng-dirty.ng-invalid > .p-inputtext {
  border-color: #e24c4c;
}

p-inputmask.p-inputmask-clearable .p-inputtext {
  padding-right: 2.5rem;
}
p-inputmask.p-inputmask-clearable .p-inputmask-clear-icon {
  color: #6c757d;
  right: 0.75rem;
}
