.p-inputgroup{
  width: 100%;
  .p-inputgroup-addon{
    background: #e9ecef;
    color: #6c757d;
    border-top: $border;
    border-left: $border;
    border-bottom: $border;
    padding: 0.5rem 0.5rem;
    min-width: 2.357rem;
    &:last-child {
      border-right: $border;
    }
  }
  button,
  input{
    border-radius: 0;
  }

  > .p-component,
  > .p-float-label > .p-component {
    border-radius: 0;
    margin: 0;
  }

  > .p-component + .p-inputgroup-addon,
  > .p-float-label > .p-component + .p-inputgroup-addon {
    border-left: 0 none;
  }

  > .p-component:focus,
  > .p-float-label > .p-component:focus {
    z-index: 1;
  }

  > .p-component:focus ~ label,
  > .p-float-label > .p-component:focus ~ label {
    z-index: 1;
  }

  .p-float-label:first-child input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .p-float-label:last-child input {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}


.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.p-inputgroup-addon:last-child,
.p-inputgroup button:last-child,
.p-inputgroup input:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}



