.p-inputnumber{
  width: 100%;
  .p-button{
    width: 2.357rem;
  }
  &.ng-dirty{
    &.ng-invalid {
      > .p-inputnumber {
        > .p-inputtext {
          border-color: #f44336;
        }
      }
    } 
  }
}