.p-inline-message {
  padding: 0.5rem 0.5rem;
  margin: 0;
  border-radius: 3px;
  &.p-inline-message-info {
    background: #B3E5FC;
    border: solid #0891cf;
    border-width: 0px;
    color: #044868;
    .p-inline-message-icon {
      color: #044868;
    }
  }
  &.p-inline-message-success {
    background: #C8E6C9;
    border: solid #439446;
    border-width: 0px;
    color: #224a23;
    .p-inline-message-icon {
      color: #224a23;
    }
  }
  &.p-inline-message-warn {
    background: #FFECB3;
    border: solid #d9a300;
    border-width: 0px;
    color: #6d5100;
    .p-inline-message-icon {
      color: #6d5100;
    }
  }
  &.p-inline-message-error {
    background: #FFCDD2;
    border: solid #e60017;
    border-width: 0px;
    color: #73000c;
    .p-inline-message-icon {
      color: #73000c;
    }
  }
  .p-inline-message-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  &.p-inline-message-icon-only{
    .p-inline-message-icon {
      margin-right: 0;
    }
  }
}