<form
	[formGroup]="form" 
	novalidate 
	(ngSubmit)="restore(form)"
>	
	<!--fields-->
	<div fxLayout="column" fxLayoutGap="5px">
		<!--phone-->
		<div>
			<div class="input-group" fxLayout="row">
				<div fxFlex>
					<p-inputMask mask="999-999-99-99" placeholder="{{ 'Phone' | translate }}" formControlName="phone"></p-inputMask> 
				</div>
				<div>
					<button 
						appButton
						type="button" 
						pButton 
						pRipple 
						icon="pi pi-send" 
						styleClass="p-button-warn"
						(onClick)="sendCode(form.value.phone)"
						pTooltip="{{ 'SendVerificationCode' | translate}}" 
						tooltipPosition="top"
					>
					</button>  
				</div>
			</div>
			
		</div>
		<!--code-->
		<div>
			<div class="input-group" fxLayout="row">
				<div fxFlex>
					<input
						formControlName="code"
						pInputText
						appInput
						type="text"
						placeholder="{{ 'Code' | translate }}"
					>
				</div>
				<div>
					<button 
						appButton
						type="button" 
						pButton 
						pRipple 
						icon="pi pi-refresh" 
						styleClass="p-button-warn"
						(onClick)="checkCode(form.value.phone, form.value.code)"
						pTooltip="{{ 'CheckVerificationCode' | translate}}" 
						tooltipPosition="top"
					>
					</button>  
				</div>
			</div>
		</div>
		<!--new password-->
		<div *ngIf="isVerifieCode">
			<p-password 
				placeholder="{{ 'NewPassword' | translate }}" 
				formControlName="password"
				[toggleMask]="true"
				promptLabel="{{ 'EnterPassword' | translate }}"
				weakLabel="{{ 'Weak' | translate }}"
				mediumLabel="{{ 'Medium' | translate }}"
				strongLabel="{{ 'Strong' | translate }}"
			></p-password>
		</div>
		<!--confirm password-->
		<div *ngIf="isVerifieCode">
			<p-password 
				placeholder="{{ 'ConfirmNewPassword' | translate }}" 
				formControlName="confirmPassword" 
				[toggleMask]="true"
				promptLabel="{{ 'EnterPassword' | translate }}"
				weakLabel="{{ 'Weak' | translate }}"
				mediumLabel="{{ 'Medium' | translate }}"
				strongLabel="{{ 'Strong' | translate }}"
			>
			</p-password>
		</div>
	</div>
	<!--navigation-->
	<div class="navigation" [ngStyle]	= "isVerifieCode ? { 'margin': '10px 0 75px' } : { 'margin': '10px 0 163px' }">
		<app-restore-account-navigation></app-restore-account-navigation>
	</div>
	<!--control-->
	<div class="control">
		<button
			pButton
			appButton
			[disabled]="form.invalid"
			label="{{'Restore' | translate}}"
		></button>
	</div>
</form>
